<div class="input-group">
  <div class="start-content">
    <button type="button" class="btn btn-book-main-action" data-bs-toggle="modal" data-bs-target="#bookModal">Add Book</button>
    <app-book-modal [isUpdateMode]="false"></app-book-modal>
  </div>

  <div class="date-filter">
  <button class="btn btn-primary" (click)="setThisMonth()">This Month</button>
  <button class="btn btn-primary" (click)="setThisYear()">This Year</button>

  <br>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Select date range" [(ngModel)]="selectedDateRange">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

  <div class="end-content">
    <span class="input-group-text">
      <i class="bi bi-search"></i>
    </span>
    <input type="text" [(ngModel)]="searchText" (ngModelChange)="filterBooks()" placeholder="Search by title" class="search-bar" />
  </div>
</div>

<table class="table table-striped" aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th (click)="sortBooksByField('title')">
        Title
        <i class="bi" [ngClass]="{'bi-sort-up': sortDirection === 'asc', 'bi-sort-down': sortDirection === 'desc'}"></i>
      </th>
      <th>Description
      </th>
      <th (click)="sortBooksByField('pageCount')">
        Page Count
        <i class="bi" [ngClass]="{'bi-sort-up': sortDirection === 'asc', 'bi-sort-down': sortDirection === 'desc'}"></i>
      </th>
      <th (click)="sortBooksByField('publishDate')">
        Publish Date
        <i class="bi" [ngClass]="{'bi-sort-up': sortDirection === 'asc', 'bi-sort-down': sortDirection === 'desc'}"></i>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="searchText === ''; else filteredBooksSection">
      <tr *ngFor="let book of books" [class.selected]="book.bookId === selectedBookId" (click)="selectBook(book.bookId)">
        <td>{{ book.title }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.pageCount }}</td>
        <td>{{ book.publishDate }}</td>
        <td>
          <button type="button" class="btn-book-action float-end" (click)="removeBook(book.bookId)">
            <i class="btn bi bi-x-circle-fill"></i>
          </button>
          <button type="button" class="btn-book-action float-end" data-bs-target="#bookModal" data-bs-toggle="modal" (click)="openEditModal(book)">
            <i class="btn bi bi-pencil-fill"></i>
          </button>
          <app-book-modal [bookModel]="book" [isUpdateMode]="true"></app-book-modal>
        </td>
      </tr>
    </ng-container>
    <ng-template #filteredBooksSection>
      <tr *ngFor="let book of filteredBooks" [class.selected]="book.bookId === selectedBookId" (click)="selectBook(book.bookId)">
        <td>{{ book.title }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.pageCount }}</td>
        <td>{{ book.publishDate }}</td>
        <td>
          <button type="button" class="btn-book-action float-end" (click)="removeBook(book.bookId)">
            <i class="btn bi bi-x-circle-fill"></i>
          </button>
          <button type="button" data-bs-toggle="modal" data-bs-target="#bookModal" class="btn-book-action float-end" (click)="openEditModal(book)">
            <i class="btn bi bi-pencil-fill"></i>
          </button>
          <app-book-modal [bookModel]="book" [isUpdateMode]="true"></app-book-modal>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>